body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10%;
    margin-top: auto;
}

p {
    font-family: "Verdana", Geneva, sans-serif;
    white-space: pre-line;
}

#Baby-Penguins {
    width: 75%;
    display: block;
    margin: auto;
}